img{
    width: 1000px;
}
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: violet;
    color: blue;
    border: 10px black;
    text-shadow: 1px 2px 3px purple;
    font-size: 50px;
}
button{
    font-size: 50px;
    background-color: lime;
    cursor: pointer;
}
button:hover{
    background-color:yellowgreen;
}